.container {
	width: 70%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

img {
	width: 100%;
}

.options {
	display: flex;
	margin: 20px auto;
	width: 70%;
	justify-content: space-between;
	list-style: none;
	flex-wrap: wrap;
	font-size: 20px;
	text-align: center;
}

.options li {
	flex: 40%;
	padding: 5px;
	margin: 5px;
	background: gray;
	cursor: pointer;
}